#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

// Based on @caksoylar's config, defaults in comments
&mmv {
  acceleration-exponent = <1>;          // 1
  time-to-max-speed-ms = <500>;         // 300
  delay-ms = <0>;                       // 0
};

&msc {
  acceleration-exponent = <0>;          // 0
  time-to-max-speed-ms = <300>;         // 300
  delay-ms = <0>;                       // 0
};

&mmv_input_listener {
  warp {
    layers = <NAV>;
    input-processors = <&zip_xy_scaler 3 1>;
  };
  precision {
    layers = <FN>;
    input-processors = <&zip_xy_scaler 1 2>;
  };
};


#define MOVE_UP     &mmv MOVE_UP
#define MOVE_DOWN   &mmv MOVE_DOWN
#define MOVE_LEFT   &mmv MOVE_LEFT
#define MOVE_RIGHT  &mmv MOVE_RIGHT
#define SCRL_UP     &msc SCRL_UP
#define SCRL_DOWN   &msc SCRL_DOWN
#define SCRL_LEFT   &msc SCRL_LEFT
#define SCRL_RIGHT  &msc SCRL_RIGHT 
